@charset "UTF-8";

body>header {
	background: #eee;
	padding: 5px;
}

body>header>a>img, body>header a {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 5px;
	font-size: 1.2em;
}